*{
    box-sizing: border-box;
}
html , body{
    height: 100%;
    margin:0;
    padding: 0;
}
:root{
    --bgBlack : #000000;
    --bgWhite : #fff;
    --bgBlue : #14213D;
    --bgYellow : #FCA311;
    --bgGrey : #E5E5E5;
}

body{
    background-color:var(--bgBlack);
    font-family:'Bebas Neue', cursive;;
    /* Centrar las cajas */
     display: flex;
     flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.cabecera{
    max-width: 60rem;
    width: 100%;
    height: 10rem;
    background-color: var(--bgBlack);
    box-shadow: 5px 11px 24px -1px rgba(0, 0, 0 , 1);
    /* border: .2rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: -7rem;
}

@media (max-width : 880px){
    .cabecera{
        max-width: 50rem;
        width: 90%;
        height: 5rem;
    }
}

.text{
    font-size: 5rem;
    color: var(--bgYellow);
    -webkit-text-stroke:var(--bgBlue) 1px;
}
@media (max-width : 880px){
    .text{
        font-size: 4.5rem;
    }
}

.main{
    max-width: 60rem;
    width: 100%;
    height: 45vh;

    background-color: var(--bgYellow);
    /* opacity: 0.2; */
    box-shadow: 2px 4px 21px 0px var(--bgYellow);
    border-radius: 1rem;
    /* border: var(--bgBlack) .5px solid; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
@media (max-width : 880px){
    .main{
        max-width: 40rem;
        width: 100%;
    }

}

.main__hours{
    max-width: 15rem;
    width: 100%;
    height: 20rem;
    
    margin-left: 2rem;
    font-size: 15rem;
    color: transparent;
    text-align: center;
    align-self: center;
    color: #000;
    -webkit-text-stroke:#fff 0.3px;
}
.main__min{
    max-width: 15rem;
    width: 100%;
    height: 20rem;
    
    font-size: 15rem;
    color: #000;
    -webkit-text-stroke:#fff 0.3px;
    text-align: center;
    align-self: center;
}
.main__seconds{
    max-width: 15rem;
    width: 100%;
    height: 20rem;
    margin-right: 2rem;
    font-size: 15rem;
    color: transparent;
    -webkit-text-stroke: #6B5901 3px;
    text-align: center;
    align-self: center;
}
 /* .pos{
    max-width: 60rem;
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    color: var(--bgBlack);
    -webkit-text-stroke: #000 .5px;
    text-align: center;
    align-self: center;
    justify-items: center; */
} 

@media (max-width : 880px){
    .main__hours{
        font-size: 10rem;
        align-self: center;
        max-width: 15rem;
        height: 10rem;
        
    }

    .main__min{
        font-size: 10rem;
        align-self: center;
        max-width: 15rem;
        height: 10rem;
    }

    .main__seconds{
        font-size: 10rem;
        align-self: center;
        max-width: 15rem;
        height: 10rem;
    }
}



